<form method="post" id="add_user" action = '/add_course'>
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Name of the Course" required>
        </div>
        <div class="form-group">
            <label for="Duration" class="text-light">Duration</label>
            <input type="text" name="duration" value="" placeholder="Duration of Course" required>
        </div>
    
    
        <div class="form-group">
            <label for="Fees" class="text-light">Fees</label>
            <input type="text" name="fees" value="" placeholder="Fees for the Course" required>
        </div>
    
    
        
    
        <div class="form-group">
            <button type="submit" class="btn text-dark update">ADD</button>
        </div>
    
    </div>
    </form>
    